* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/* 主面板 */
.app {
    position: absolute;
    width: 100%;

    height: 100%;
    display: flex;
    background-color: #010E1B;
}

/* 左侧导航栏 */
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 250px;
}

.el-menu-vertical-demo a {
    text-decoration: none;
}

.el-menu-vertical-demo {
    width: 60px;
    height: 100%;
    background-color: #00264A;
    box-shadow: 0 0 10px #00264A;
    border-right: none;
    text-decoration: none;
}

.el-menu-vertical-demo .el-menu-item {
    border-left: 4px solid #00264A;
    color: #ffffff8d;
}

.el-menu-vertical-demo .el-menu-item:hover {
    background-color: #767c824d;
    border-left: 4px solid #767c824d;
}

.el-menu-vertical-demo .is-active {
    background-color: #093865b3;
    border-left: 4px solid #2878FF;
    color: white;
}

.el-menu-vertical-demo .is-active:hover {
    background-color: #767c824d;
    border-left: 4px solid #2878FF;
}

/* 右侧面板 */

.content {
    padding: 10px;
    color: white;
}

/* 右侧顶栏 */
header {
    padding: 0;
    display: flex;
    background-color: #0D162D;
    /* border-right: 8px solid #2878FF; */
}

/* 返回按钮可见状态 */
.el-page-header__left {
    display: none;
}

.rightPancel {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightPancel i {
    padding: 10px;
    margin: 0 30px 0 0px;
    transition: all .3s ease;
    border-radius: 10%;
}

.rightPancel i:hover {
    border-radius: 50%;
    background-color: #2877ff64;
    transition: all .3s ease;
}

/* 顶部下拉框 */
.el-dropdown-menu {
    background-color: #00264A;
    border: none;
}

.el-dropdown-menu .el-dropdown-menu__item {
    color: white
}

.el-dropdown-menu .el-dropdown-menu__item:hover {
    background-color: #767c824d;
}

.el-message {
    background-color: #767c824d;
    border: none;
    color: white;
}

.el-message--warning {
    color: white;
}

/* 公共滑动区域 */
*::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    background-color: #2878FF;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-button {
    display: none;
    width: 15px;
    height: 15px;
    background-color: #2878FF;
    cursor: pointer;
}

/* 底部版权信息 */
footer {
    color: white;
    background-color: #0D162D;
    display: flex;
    align-items: center;
    color: grey;
    font-size: small;
    /* border-right: 10px solid #2878FF; */
}

/* 表格样式 */
table {
    width: 100%;
    height: 100%;
    max-height: 700px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #182548;
}

table tr {
    display: flex;
    justify-content: space-evenly;
    transition: all .3s ease;
}

table tr td {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    border: 1px solid grey;
    color: grey;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

table tr.header {
    background-color: #0D162D;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

table tr.header td {
    font-weight: bold;
}

table tr:not(.header):hover {
    background-color: #80808034;
    transition: all .3s ease;
}

.el-button {
    margin-bottom: 10px;
    background-color: #182548;
    border: none;
    transition: all .3s ease;
}

.el-button:focus,
.el-button:hover {
    background-color: #80808034;
    transition: all .3s ease;
}

.searchInput {
    width: 250px;
    height: 30px;
    line-height: 30px;
    border: none;
    background-color: #182548;
    padding: 0 5px 0 5px;
    color: grey;
}

.searchInput:focus,
.searchInput:hover {
    outline: none;
}

table tr td .el-button {
    background-color: transparent !important;
}